/* gl-title */
.gl-title {
  margin: 0 0 64px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  line-height: 48px;
  }

.gl-title strong {
  font-weight: 500;
  }

/* btn-panel */
.btn-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  }

/* results-wrinkles-section */
.results-wrinkles-section {
  padding: 156px 20px;
  }

/* results-wrinkles-slider */
.results-wrinkles-slider {
  position: relative;
  margin: 0 0 64px;
  }

.results-wrinkles-slider .swiper-button-prev,
.results-wrinkles-slider .swiper-button-next {
  display: none;
  margin: -11px 0 0 !important;
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 3px 3px 9px 0 rgba(34, 29, 30, 0.2);
  opacity: 1;
  }

.results-wrinkles-slider .swiper-button-prev:before,
.results-wrinkles-slider .swiper-button-next:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  }

.results-wrinkles-slider .swiper-button-prev:after,
.results-wrinkles-slider .swiper-button-next:after {
  display: none;
  }

.results-wrinkles-slider .swiper-button-prev {
  left: 12px;
  }

.results-wrinkles-slider .swiper-button-prev:before {
  background: url(../content_img/results-wrinkles/icons/left-arrow.svg) center no-repeat;
  }

.results-wrinkles-slider .swiper-button-next {
  right: 12px;
  }

.results-wrinkles-slider .swiper-button-next:before {
  background: url(../content_img/results-wrinkles/icons/right-arrow.svg) center no-repeat;
  }

/* results-wrinkles-item */
.results-wrinkles-item {
  padding: 32px 70px 32px 64px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 6px 5px 22px 0 rgba(0, 0, 0, 0.1);
  }

.results-wrinkles-item__title {
  display: block;
  margin: 0 0 16px;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 28px;
  }

.results-wrinkles-item__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 20px;
  }

.results-wrinkles-item__gallery-title {
  display: block;
  color: #BCBDC2;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 28px;
  }

.results-wrinkles-item__gallery-photo img {
  width: 100%;
  vertical-align: top;
  }

/* percentage-info */
.percentage-info {
  display: flex;
  align-items: center;
  gap: 0 32px;
  margin: 0 0 64px;
  padding: 30px 0 33px;
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
  }

/* percentage-info__item */
.percentage-info__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  }

.percentage-info__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
  }

.percentage-info__sm-text {
  display: block;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 28px;
  background: rgb(240,201,209);
  background: linear-gradient(60deg, rgba(240,201,209,1) 0%, rgba(110,137,195,1) 100%);   
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.percentage-info__number {
  display: block;
  margin: -21px 0 0;
  font-size: 100px;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: -5%;
  background: rgb(240,201,209);
  background: linear-gradient(60deg, rgba(240,201,209,1) 0%, rgba(110,137,195,1) 100%);  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.percentage-info__text {
  margin: -11px 0 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 26px;
  background: rgb(240,201,209);
  background: linear-gradient(60deg, rgba(240,201,209,1) 0%, rgba(110,137,195,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

/* percentage-info__separator */
.percentage-info__separator {
  flex-shrink: 0;
  width: 1px;
  height: 160px;
  background: #F5F5F5;
  }

/* 1500 */
@media (max-width: 1500px) {

.gl-title {
  font-size: 28px;
  line-height: 38px;
  }

.results-wrinkles-item {
  padding: 32px 45px;
  }

.results-wrinkles-item__title {
  font-size: 16px;
  line-height: 26px;
  }

.results-wrinkles-item__gallery {
  gap: 0 15px;
  }

.results-wrinkles-item__gallery-title {
  font-size: 16px;
  line-height: 26px;
  }

.results-wrinkles-item__gallery-title {
  font-size: 14px;
  }

.percentage-info__sm-text {
  font-size: 14px;
  line-height: 24px;
  }

.percentage-info__number {
  font-size: 50px;
  line-height: 50px;
  }

.percentage-info__text {
  font-size: 14px;
  line-height: 22px;
  }

}

/* 1300 */
@media (max-width: 1300px) {

.results-wrinkles-slider .swiper-button-prev,
.results-wrinkles-slider .swiper-button-next {
  display: block;
  }

}

/* 1081 */
@media (max-width: 1081px) {

.gl-title {
  margin: 0 0 24px;
  font-size: 18px;
  line-height: 28px;
  }

}

/* 830 */
@media (max-width: 830px) {

.results-wrinkles-item__title {
  margin: 0 0 10px;
  }

.results-wrinkles-item__gallery-title {
  font-size: 12px;
  }

}

/* 680 */
@media (max-width: 680px) {

.results-wrinkles-section {
  padding: 80px 10px;
  }

.results-wrinkles-item__title {
  font-size: 14px;
  line-height: 20px;
  }

.results-wrinkles-slider {
  margin: 0 0 25px;
  }

.results-wrinkles-item {
  padding: 16px 45px;
  border-radius: 6px;
  box-shadow: inherit;
  transition: .3s box-shadow;
  }

.results-wrinkles-slider .swiper-slide.swiper-slide-active .results-wrinkles-item {
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.1);
  }

.results-wrinkles-item__gallery {
  gap: 0 10px;
  }

.results-wrinkles-item__gallery-title {
  font-size: 10px;
  line-height: 18px;
  }

.percentage-info {
  flex-direction: column;
  gap: 10px 0;
  margin: 0 0 25px;
  padding: 0;
  border: 0;
  }

.percentage-info__separator {
  width: 100%;
  height: 1px;
  background: #F5F5F5;
  }

.percentage-info__item {
  padding: 0 40px;
  }

.percentage-info__col {
  align-items: center;
  gap: 0 16px;
  flex-direction: inherit;
  min-width: 254px;
  }

.percentage-info__sm-text {
  display: none;
  }

.percentage-info__sm-text br {
  display: none;
  }

.percentage-info__number {
  margin: 0;
  font-size: 54px;
  line-height: 68px;
  }

.percentage-info__text {
  margin: 0;
  line-height: 20px;
  }

}